/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.body-style {
  font-size: 1.8rem;
  font-family: 'Muli', sans-serif;
  color: gray;
  font-weight: 400;
  line-height: 4rem;
}
.h1 {
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 4rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
.h3 {
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button-style {
  font-family: 'Muli', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  line-height: 1.8rem;
  text-shadow: 2px 2px 5px 0.1 black;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  width: 20vw;
  min-width: 225px;
  background-image: linear-gradient(#51a9ff, #ffc184);
  cursor: pointer;
}
.button-style:hover {
  background-image: linear-gradient(#ffa751, #84c2ff);
}
.button-style:active {
  background-image: linear-gradient(#ff8d1e, #51a9ff);
}
.button-style:visited {
  background-image: linear-gradient(#a9ff51, #c184ff);
}
.card {
  display: flex;
  flex-direction: row;
  font-family: 'Muli', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: gray;
  line-height: 1.8rem;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  min-width: 200px;
  min-height: 110px;
  width: 20vw;
  height: 15vh;
  padding: 15px;
  margin: 15px;
  background-image: linear-gradient(#b7dbff, #ffc184);
}
.card:hover {
  background-image: linear-gradient(#ffdbb7, #84c2ff);
}
.card:active {
  background-image: linear-gradient(#ffc184, #51a9ff);
}
.card:visited {
  background-image: linear-gradient(#dbffb7, #c184ff);
}
@media only screen and (max-width: 600px) {
  .card {
    width: 80vw;
    min-width: 200px;
    height: 20vh;
    min-height: 150px;
  }
}
.simple-border {
  border: 1px solid darkgrey;
}
.basic-image {
  border-radius: 50%;
  border: 5px solid lightgray;
}
.hr {
  background-color: #e6e6e6;
  width: 80vw;
  height: 4px;
  border: none;
}
@media only screen and (min-width: 901px) {
  .hidden-on-desktop {
    visibility: hidden;
  }
}
@media only screen and (max-width: 900px) {
  .hidden-on-tablet {
    visibility: hidden;
  }
}
@media only screen and (max-width: 600px) {
  .hidden-on-mobile {
    visibility: hidden;
  }
}
.container {
  margin: 0 auto;
  width: 80%;
  font-size: 1.8rem;
  font-family: 'Muli', sans-serif;
  color: gray;
  font-weight: 400;
  line-height: 4rem;
}
.container .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.container .nav a {
  font-size: 1.8rem;
  font-family: 'Muli', sans-serif;
  color: gray;
  font-weight: 400;
  line-height: 4rem;
  text-decoration: none;
  margin: 20px 2.5vw 20px;
  flex-basis: 5vw;
}
.container .nav a:hover {
  color: dodgerblue;
}
.container .nav a:active {
  color: #ffa751;
}
.container .top-section {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
  padding: 20px 20px;
  width: 80vw;
  height: fit-content;
}
.container .top-section h1 {
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 4rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
.container .top-section h3 {
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container .top-section .header {
  width: fit-content;
  height: fit-content;
}
.container .top-section .header .profile-img {
  border-radius: 50%;
  border: 5px solid lightgray;
}
.container .top-section .header .byline {
  margin: 20px 0px;
  padding: 20px 0px;
}
.container .top-section .header hr {
  background-color: #e6e6e6;
  width: 80vw;
  height: 4px;
  border: none;
}
.container .top-section .header a {
  text-decoration: none;
}
.container .top-section .header .button {
  font-family: 'Muli', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  line-height: 1.8rem;
  text-shadow: 2px 2px 5px 0.1 black;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  width: 20vw;
  min-width: 225px;
  background-image: linear-gradient(#51a9ff, #ffc184);
  cursor: pointer;
  background-image: linear-gradient(dodgerblue, #005db7);
}
.container .top-section .header .button:hover {
  background-image: linear-gradient(#ffa751, #84c2ff);
}
.container .top-section .header .button:active {
  background-image: linear-gradient(#ff8d1e, #51a9ff);
}
.container .top-section .header .button:visited {
  background-image: linear-gradient(#a9ff51, #c184ff);
}
.container .top-section .header .button:hover {
  background-image: linear-gradient(#ff8d1e, #b75a00);
}
.container .top-section .header .button:active {
  background-image: linear-gradient(#ea7300, #844100);
}
.container .top-section .header .button:visited {
  background-image: linear-gradient(#90ff1e, #5db700);
}
.container .mid-section {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  .container .mid-section {
    flex-direction: column;
  }
}
.container .mid-section .about-section {
  flex: 1;
  margin-right: 30px;
}
.container .mid-section .about-section h3 {
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container .mid-section .about-section hr {
  background-color: #e6e6e6;
  width: 80vw;
  height: 4px;
  border: none;
  width: 45vw;
}
.container .mid-section .proficiencies {
  flex: 1;
}
.container .mid-section .proficiencies h3 {
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 20px;
}
.container .mid-section .proficiencies .proficiencies-list .box {
  padding: 2rem;
  border: 1px solid darkgrey;
}
.container .projects-section h3 {
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container .projects-section .card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.container .projects-section .card-container div {
  display: flex;
  flex-direction: row;
  font-family: 'Muli', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: gray;
  line-height: 1.8rem;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  min-width: 200px;
  min-height: 110px;
  width: 20vw;
  height: 15vh;
  padding: 15px;
  margin: 15px;
  background-image: linear-gradient(#b7dbff, #ffc184);
}
.container .projects-section .card-container div:hover {
  background-image: linear-gradient(#ffdbb7, #84c2ff);
}
.container .projects-section .card-container div:active {
  background-image: linear-gradient(#ffc184, #51a9ff);
}
.container .projects-section .card-container div:visited {
  background-image: linear-gradient(#dbffb7, #c184ff);
}
@media only screen and (max-width: 600px) {
  .container .projects-section .card-container div {
    width: 80vw;
    min-width: 200px;
    height: 20vh;
    min-height: 150px;
  }
}
.container .projects-section .project-1 {
  color: white;
}
.container .contact-section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.container .contact-section hr {
  background-color: #e6e6e6;
  width: 80vw;
  height: 4px;
  border: none;
}
.container .contact-section h3 {
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container .contact-section input[type=text],
.container .contact-section select,
.container .contact-section textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0px;
  border: 1px solid darkgrey;
  border-radius: 10px;
}
.container .contact-section input[type=text]:placeholder-shown,
.container .contact-section select:placeholder-shown,
.container .contact-section textarea:placeholder-shown {
  font-size: 1.4rem;
  font-family: 'Muli', sans-serif;
}
.container .contact-section input[type=submit] {
  font-family: 'Muli', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  line-height: 1.8rem;
  text-shadow: 2px 2px 5px 0.1 black;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  width: 20vw;
  min-width: 225px;
  background-image: linear-gradient(#51a9ff, #ffc184);
  cursor: pointer;
  background-image: linear-gradient(dodgerblue, #005db7);
}
.container .contact-section input[type=submit]:hover {
  background-image: linear-gradient(#ffa751, #84c2ff);
}
.container .contact-section input[type=submit]:active {
  background-image: linear-gradient(#ff8d1e, #51a9ff);
}
.container .contact-section input[type=submit]:visited {
  background-image: linear-gradient(#a9ff51, #c184ff);
}
.container .contact-section input[type=submit]:hover {
  background-image: linear-gradient(#ff8d1e, #b75a00);
}
.container .contact-section input[type=submit]:active {
  background-image: linear-gradient(#ea7300, #844100);
}
.container .contact-section input[type=submit]:visited {
  background-image: linear-gradient(#90ff1e, #5db700);
}
