//out: ../css/index.css, compress: false, sourceMap: false

// Is this working? - CSS RESET
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-size: 62.5%;
}

// ---------- MY CSS BEGINS HERE -----------

//-----VARIABLES------

//MEDIA QUERIES
@phone: ~"only screen and (max-width: 600px)";
@tablet: ~"only screen and (max-width: 900px)";

//COLORS
@black: black;
@gray: gray;
@blue: dodgerblue;
@light-blue: lighten(@blue, 10%);
@dark-blue: darken(@blue, 20%);
@white: white;
@complement: spin(@blue, 180);
//------End of Variables--------


//----------MIXINS-----------

//GRADIENT
.gradient (@color-1, @color-2) {
	background-image: linear-gradient(@color-1, @color-2);

	&:hover {
		background-image: linear-gradient(spin(@color-1, 180), spin(@color-2, 180));
	}

	&:active {
		background-image: linear-gradient(darken(spin(@color-1, 180), 10%), darken(spin(@color-2, 180), 10%));
	}

	&:visited {
		background-image: linear-gradient(spin(@color-1, -(360/3)), spin(@color-2, -(360/3)));
	}

}

//End of Gradient

//HEADER STYLES
.header-style(@weight) {
	color: @black;
	font-family: 'Playfair Display', serif;
	font-weight: @weight;
}

.body-style {
	font-size: 1.8rem;
	font-family: 'Muli', sans-serif;
	color: @gray;
	font-weight: 400;
	line-height: 4rem;
}

.h1 {
	.header-style(700);
	font-size: 4rem;
	margin-top: 30px;
	margin-bottom: 30px;
}

.h3 {
	.header-style(400);
	font-size: 2.4rem;
	margin-top: 20px;
	margin-bottom: 20px;
}


//BUTTON STYLES
.button-style {
	font-family: 'Muli', sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	color: @white;
	line-height: 1.8rem;
	// width: 45%;
	// height: 50px;
	text-align: center;
	//vertical-align: middle;
	padding: 15px;
	border-radius: 30px;
	width: 20vw;
	min-width: 225px;
}

//BORDER STYLES
.simple-border {
	border: 1px solid darkgrey;
}

//IMAGE STYLES
.basic-image {
	border-radius: 50%;
	border: 5px solid lightgray;
}

//FLEX DISPLAY
.flex {
	display: flex;
}



//End of MIXINS




// ------ LESS-------

.container {
	margin: 0 auto;
	width: 80%;
	//padding: ;
	.body-style();

	.nav {
		.flex();
		justify-content: flex-end;

		a {
			.body-style();
			text-decoration: none;
			margin: 20px 2.5vw 20px;
			flex-basis: 5vw;

			//justify-content: flex-end;
			&:hover {
				color: spin(@light-blue, 180);
			}

			&:active {
				color: darken(spin(@light-blue, 180), 15%);
			}

			&:visited {
				color: @blue;
			}
		}



	}

	.top-section {

		.flex();

		h1 {
			.h1();
		}

		h3 {
			.h3();
		}

		margin: 20px 0px;
		padding: 20px 20px;
		width: 80vw;
		height: fit-content;
		//.simple-border();

		.header {
			//padding: 0px 20px 20px 0px;
			//margin: 20px 20px 20px 0px;
			width: fit-content;
			height: fit-content;

			.profile-img {
				.basic-image();
				//width: 50%;
				// transition:  ease-in-out 2s;
				// transition-delay: 1s;
			}

			.byline {
				margin: 20px 0px;
				padding: 20px 0px;
				
			}

			hr{
				background-color: @gray;
				width: 80vw;
			}

			.button {
				.button-style();
				//.simple-border();
				.gradient(@blue, @dark-blue);
			
			}

			// Button
		}

		//Header
	}

	//top-section

	.mid-section {
		.flex();
		flex-direction: row;

		@media @phone {
			flex-direction: column;
		}

		padding: 20px;

		.about-section {
			flex: 1;
			margin-right: 30px;
			h3 {
				.h3();
			}

		}

		.proficiencies {
			flex: 1;

			h3 {
				.h3();
				margin: 20px;
			}
			
			.proficiencies-list {
				.box {
					padding: 2rem;
					.simple-border();
				}
			}
		}

	}

	//mid-section
}

//Container